.button {
    display: block;
    margin: 0 auto 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(57, 149, 177);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(57, 149, 177, .75)
}